APP_NAME=Movie Match API
APP_ENV=development
API_V1_PREFIX=/api
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/moviematch
TELEGRAM_BOT_USERNAME=your_bot_name
TELEGRAM_BOT_TOKEN=your_bot_token
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.0-flash-lite
GEMINI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta
TMDB_API_KEY=your_tmdb_api_key
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
